body {
  background: Black;
  color: White;
  font-family: Verdana, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.5; }
  @media screen and (min-width: 768px) {
    body {
      background: Black url(../img/fon9.jpg) repeat-y 0 0; } }

h1 {
  font-size: 28px;
  background: url(../img/line1.jpg) no-repeat center bottom;
  padding-bottom: 30px;
  margin-bottom: 20px;
  text-align: center; }

h2 {
  font-size: 21px; }

a {
  color: White;
  text-decoration: none; }
  a:hover {
    text-decoration: underline;
    color: #CEB7DD; }

a, button, select {
  outline-color: White; }

.btn {
  font-size: 16px;
  font-weight: bold;
  color: White;
  padding: 10px 0;
  cursor: pointer;
  background: transparent;
  border: none; }
  .btn-container {
    padding: 0 0 20px;
    display: flex;
    justify-content: space-between; }
    @media screen and (min-width: 992px) {
      .btn-container {
        padding: 10px 0 60px 3px;
        background: url(../img/line175.png) no-repeat center bottom; } }

.reset-filters-btn {
  font-weight: normal;
  text-decoration: none;
  color: #888;
  padding: 0; }
  .reset-filters-btn:hover {
    color: #ccc;
    text-decoration: underline; }

.apply-filters-btn:hover {
  text-decoration: underline; }

@media screen and (min-width: 992px) {
  .apply-filters-btn {
    text-shadow: #CEB7DD 0px 0px 10px, #CEB7DD 0px 0px 15px, #CEB7DD 0px 0px 20px;
    transition: all 150ms ease-in; }
    .apply-filters-btn:hover {
      text-shadow: #000 0px 0px 1px, #FFF 0px 0px 5px, #FFF 0px 0px 10px, #FFF 0px 0px 15px, #CEB7DD 0px 0px 20px, #CEB7DD 0px 0px 30px, #CEB7DD 0px 0px 40px, #CEB7DD 0px 0px 50px;
      text-decoration: none; } }

@media screen and (min-width: 992px) {
  .top-section {
    width: 75%; } }

.description {
  text-align: center; }
  .description span {
    color: #CEB7DD;
    font-weight: bold; }

.additional-links strong, .additional-links a {
  display: block; }

.hide {
  display: none; }

main {
  padding: 5px; }
  @media screen and (min-width: 768px) {
    main {
      padding: 20px;
      max-width: 1200px;
      margin: 0 0 0 80px; } }
  @media screen and (min-width: 1400px) {
    main {
      margin-left: 100px; } }

.main__container {
  display: flex;
  flex-flow: column;
  margin-top: 20px; }
  @media screen and (min-width: 992px) {
    .main__container {
      flex-flow: row;
      justify-content: space-between; } }

@media screen and (min-width: 992px) {
  .fanfiction-list__wrapper {
    flex-basis: 75%; } }

.fanfiction-filters {
  padding: 10px 0; }
  @media screen and (min-width: 992px) {
    .fanfiction-filters {
      flex-flow: column;
      display: block;
      margin-left: 20px;
      padding: 0 10px;
      position: sticky;
      top: 0; } }
  .fanfiction-filters__wrapper {
    order: -1; }
    @media screen and (min-width: 992px) {
      .fanfiction-filters__wrapper {
        flex-basis: 25%;
        order: 1; } }

@media screen and (max-width: 991px) {
  .hide-filters .fanfiction-filters__group {
    display: none; }
  .hide-filters .btn {
    display: none; }
  .hide-filters .on-show {
    display: none; }
  .hide-filters .on-hide {
    display: inline; }
  .on-hide {
    display: none; } }

footer {
  background: url(../img/line1.jpg) no-repeat center top;
  padding: 40px 0;
  margin: 20px 0;
  text-align: center; }

.fanfiction-search-result, .fanfiction-per-page {
  margin-top: 20px; }
  @media screen and (min-width: 640px) {
    .fanfiction-search-result, .fanfiction-per-page {
      display: inline-block; } }

.fanfiction-search-result {
  display: none; }
  .fanfiction-search-result strong {
    color: #CEB7DD;
    font-size: 16px; }
  @media screen and (min-width: 640px) {
    .fanfiction-search-result:after {
      content: '|';
      display: inline-block;
      margin: 0 10px 0 14px;
      font-size: 16px;
      font-weight: bold;
      color: #CEB7DD; } }

.fanfiction-per-page__select {
  border: 1px solid #808080;
  font-size: 16px;
  padding: 5px; }

.fanfiction-item {
  background: #C0C0C0;
  color: Black;
  font-family: 'Times New Roman', Times, serif;
  font-size: 18px;
  border: 1px solid #808080;
  padding: 10px;
  margin-bottom: 20px; }
  .fanfiction-item.award {
    position: relative;
    margin-top: 40px;
    border-color: #CEB7DD; }
    .fanfiction-item.award:before {
      content: "";
      width: 26px;
      height: 22px;
      background: url(../img/diamond.gif) no-repeat 0 0;
      position: absolute;
      top: -27px;
      left: 0; }
    .fanfiction-item.award--rainbow:before {
      background-image: url(../img/rainbow.gif); }
  .fanfiction-item a {
    color: Black; }
    .fanfiction-item a:hover {
      text-decoration: underline; }
  .fanfiction-item__title {
    margin: 0;
    line-height: 1.3; }
    .fanfiction-item__title a {
      font-size: 24px;
      font-weight: normal;
      text-decoration: none;
      color: #000; }
      .fanfiction-item__title a.no-link {
        text-decoration: none;
        color: Black;
        cursor: default; }
  .fanfiction-item__author {
    margin: 0 0 10px; }
    .fanfiction-item__author a {
      color: #505050;
      font-weight: normal; }
      .fanfiction-item__author a:before {
        content: '';
        display: inline-block;
        width: 20px;
        height: 20px;
        margin-right: 5px;
        vertical-align: text-bottom;
        background: url(../img/author-icons/curl.png) no-repeat 0 0; }
      .fanfiction-item__author a.i2:before {
        background-image: url(../img/author-icons/eye.png); }
      .fanfiction-item__author a.i3:before {
        background-image: url(../img/author-icons/tentacle.png); }
      .fanfiction-item__author a.i4:before {
        background-image: url(../img/author-icons/curl2.png); }
      .fanfiction-item__author a.i5:before {
        background-image: url(../img/author-icons/cornu1.png); }
      .fanfiction-item__author a.i6:before {
        background-image: url(../img/author-icons/2.png); }
      .fanfiction-item__author a.i7:before {
        background-image: url(../img/author-icons/curl3.png); }
      .fanfiction-item__author a.i8:before {
        background-image: url(../img/author-icons/cornu2.png); }
  .fanfiction-item__parts {
    display: inline-block;
    font-weight: normal; }
    .fanfiction-item__parts a {
      font-weight: normal;
      color: Black;
      font-size: 18px;
      padding: 0 3px 0 7px; }

.fanfiction-pagination {
  margin: 0 auto;
  text-align: center; }
  .fanfiction-pagination a {
    display: inline-block;
    padding: 5px 10px; }
    .fanfiction-pagination a.current {
      text-decoration: none;
      cursor: default;
      color: #CEB7DD;
      font-weight: bold;
      font-size: 20px; }
    .fanfiction-pagination a:hover {
      text-shadow: #CEB7DD 0px 0px 10px,  #CEB7DD 0px 0px 15px, #CEB7DD 0px 0px 20px, #CEB7DD 0px 0px 40px; }

@media screen and (max-width: 991px) {
  .fanfiction-filters h2, .fanfiction-filters__group {
    flex-basis: 100%; } }

.fanfiction-filters h2 {
  margin-top: 0;
  color: #CEB7DD; }
  @media screen and (max-width: 991px) {
    .fanfiction-filters h2 {
      margin-bottom: 0; } }

.fanfiction-filters h3 {
  margin: 20px 0 10px;
  color: #CEB7DD; }

.fanfiction-filters__item {
  margin: 0 0 5px;
  display: flex; }
  .fanfiction-filters__item label {
    flex-grow: 1; }
  .fanfiction-filters__item input {
    flex-basis: 14px; }

.fanfiction-filters .author-list {
  max-height: 200px;
  overflow-y: auto;
  border: 1px solid #808080;
  background: White;
  color: Black; }

.fanfiction-filters__toggle {
  font-size: 12px;
  text-decoration: underline;
  font-weight: normal;
  vertical-align: middle;
  cursor: pointer; }
  @media screen and (min-width: 992px) {
    .fanfiction-filters__toggle {
      display: none; } }
