body {
    background: $main-background;
    color: White;
    font-family: Verdana, Arial, sans-serif;
    font-size: $text-size-body;
    line-height: 1.5;

    @include for-tablet() {
        background: $main-background url(../img/fon9.jpg) repeat-y 0 0;
    }
}

h1 {
    font-size: 28px;
    background: url(../img/line1.jpg) no-repeat center bottom;
    padding-bottom: 30px;
    margin-bottom: 20px;
    text-align: center;
}

h2 {
    font-size: 21px;
}

a {
    color: White;
    text-decoration: none;

    &:hover {
        text-decoration: underline;
        color: $link-white-hover;
    }
}

.btn {
    font-size: 16px;
    font-weight: bold;
    color: White;
    padding: 10px 0;
    margin: 10px 0;
    cursor: pointer;
    background: transparent;
    border: none;

    @include for-desktop() {
        width: 100%;
    }

    &-divider {
        display: none;

        @include for-desktop() {
            display: block;
            border-width: 0;
            height: 10px;
            background: url(../img/line1.jpg) no-repeat center;
            background-size: cover;
            max-width: 200px;
        }
    
    }
}

.reset-filters-btn {
    font-weight: normal;
    text-decoration: underline;
    color: #ccc;
    padding: 0;
}

.apply-filters-btn {
    text-shadow: #000 0px 0px 1px, #CEB7DD 0px 0px 5px, #CEB7DD 0px 0px 10px, #CEB7DD 0px 0px 15px, #CEB7DD 0px 0px 20px;
    transition: all 150ms ease-in;

    &:hover {
        text-shadow: #000 0px 0px 1px, #FFF 0px 0px 5px, #FFF 0px 0px 10px, #FFF 0px 0px 15px, #CEB7DD 0px 0px 20px, #CEB7DD 0px 0px 30px, #CEB7DD 0px 0px 40px, #CEB7DD 0px 0px 50px;
    }
}

.top-section {
    @include for-desktop {
        width: 75%;
    }
}

.description {
    text-align: center;

    span {
        color: $secondary-color;
        font-weight: bold;
    }
}

.additional-links {
    strong, a {
        display: block;
    }
}

.hide {
    display: none;
}

a.no-link {
    text-decoration: none;
    color: Black;
    cursor: default;
}

