body {
    background: $main-background;
    color: White;
    font-family: Verdana, Arial, sans-serif;
    font-size: $text-size-body;
    line-height: 1.5;

    @include for-tablet() {
        background: $main-background url(../img/fon9.jpg) repeat-y 0 0;
    }
}

h1 {
    font-size: 28px;
    background: url(../img/line1.jpg) no-repeat center bottom;
    padding-bottom: 30px;
    margin-bottom: 20px;
    text-align: center;
}

h2 {
    font-size: 21px;
}

a {
    color: White;
    text-decoration: none;

    &:hover {
        text-decoration: underline;
        color: $link-white-hover;
    }
}

a, button, select {
    outline-color: White;
}

.btn {
    font-size: 16px;
    font-weight: bold;
    color: White;
    padding: 10px 0;
    cursor: pointer;
    background: transparent;
    border: none;

    &-container {
        padding: 0 0 20px;
        display: flex;
        justify-content: space-between;

        @include for-desktop() {
            padding: 10px 0 60px 3px;
            background: url(../img/line175.png) no-repeat center bottom;
        }
    }
}

.reset-filters-btn {
    font-weight: normal;
    text-decoration: none;
    color: #888;
    padding: 0;

    &:hover {
        color: #ccc;
        text-decoration: underline;
    }
}

.apply-filters-btn {
    &:hover {
        text-decoration: underline;
    }

    @include for-desktop() {
        text-shadow: #CEB7DD 0px 0px 10px, #CEB7DD 0px 0px 15px, #CEB7DD 0px 0px 20px;
        transition: all 150ms ease-in;

        &:hover {
            text-shadow: #000 0px 0px 1px, #FFF 0px 0px 5px, #FFF 0px 0px 10px, #FFF 0px 0px 15px, #CEB7DD 0px 0px 20px, #CEB7DD 0px 0px 30px, #CEB7DD 0px 0px 40px, #CEB7DD 0px 0px 50px;
            text-decoration: none;
        }
    }    
}

.top-section {
    @include for-desktop {
        width: 75%;
    }
}

.description {
    text-align: center;

    span {
        color: $secondary-color;
        font-weight: bold;
    }
}

.additional-links {
    strong, a {
        display: block;
    }
}

.hide {
    display: none;
}

a.no-link {
    text-decoration: none;
    color: Black;
    cursor: default;
}

